.game-container {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skip-unavailable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: 7px;

    img {
        width: 100px;
    }

    p {
        margin: 0px;
        font-size: 0.9em;
        color: #000000;
        text-align: center;
    }
}

.actions-game {
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    max-width: 250px;

    .button {
        border-radius: 99px;
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-reveal {
        background-color: #41b9ff;
        img {
            max-height: 40px;
            height: auto;
            width: auto;
            margin-top: -5px;
        }
    }
}

.compte-a-rebours p {
    color: #ffd600;
    font-size: 26px;
    font-family: monospace;
    margin: 0;
    margin-top: -30px;
}

div.actions-game:has(.roulette-russe),
div.actions-game:has(.compte-a-rebours) {
    flex-direction: column;
}
div.roulette-russe,
div.compte-a-rebours {
    width: 100%;
    text-align: center;
}
div.roulette-russe div {
    margin: 0;
    height: 200px;
    display: flex;
    justify-content: center;
}
div.roulette-russe div img {
    /*max-width: 200px;*/
    height: auto;
}
