<ion-content>
  <div class="container">
    <div class="custom-button nav-back" (click)="goHome()">
      <img src="assets/img/nav-arrow.png" alt="Back" class="custom-arrow-icon">
    </div>
    <div class="content">
      <img src="assets/title/title-leduel.png" class="title-page-game">

      <div class="card card-{{decision}}" *ngIf="!twist || (twist && twist.card) ">
        <img src="assets/card/card-{{decision}}.png" alt="Back" class="card-title">
        <p class="card-description">{{description}}</p>
      </div>
      <!-- Afficher le twist uniquement s'il y en a un -->
      <div class="twist-card" *ngIf="twist">
        <p class="twist-reveal twist-reveal-all" *ngIf="twist.revealTwist">📣 Lis le twist à voix haute</p>
        <p class="twist-reveal twist-reveal-none" *ngIf="!twist.revealTwist">🤫 Ne lis pas le twist à voix haute
        </p>
        <img src="assets/title/title-twist.png">
        <div class="twist-emoji">{{ twist.emoji }}</div>
        <h3 class="twist-title">{{ twist.title }}</h3>
        <p class="twist-description">{{ twist.description }}</p>

      </div>

      <div class="twist-card" *ngIf="!twist">
        <p class="twist-reveal" style="color:transparent">.</p>
        <img src="assets/title/title-twist.png">
        <div class="twist-emoji">😒</div>
        <h3 class="twist-title">Partie classique</h3>
        <p class="twist-description">Parfois, le twist, c'est qu'il n'y en pas. Tu peux le dire ou le garder pour toi.
        </p>
      </div>
      
      <div class="actions-game {{twist && twist.id==='la-paix' ? 'max-width' :''}}"> 
        <div class="roulette-russe" *ngIf="twist && twist.id==='roulette-russe'">
          <div *ngIf="!oneTime"></div>
          <div *ngIf="bullet && oneTime"><img src="assets/img/rs-pan.png"></div>
          <div *ngIf="!bullet && oneTime"><img src="assets/img/rs-clic.png"></div>
        </div>
        <button id="button-shoot" *ngIf="twist && twist.id==='roulette-russe' && !showReveal" (click)="shoot()" class="button button-reveal custom-button animated-button">
          <img src="assets/buttons/button-shoot.png">
        </button>
          <button id="button-start-timer" *ngIf="twist && twist.id==='compte-a-rebours' && !timerRunning && !showReveal" (click)="startTimer()" class="button button-reveal custom-button animated-button">
            <img src="assets/buttons/button-start2.png">
          </button>
          <div class="compte-a-rebours"  *ngIf="twist && twist.id==='compte-a-rebours' && timerRunning">
            <p>{{  displayTime }}</p>
          </div>
          <div class="compte-a-rebours"  *ngIf="twist && twist.id==='compte-a-rebours' && !timerRunning  && showReveal">
            <p>Temps écoulé</p>
          </div>
          <div *ngIf="twist && twist.id==='lies-jusqua-la-mort'" id="button-end" 
          class="button button-reveal custom-button animated-button" (click)="goNewTurn()">
            <img src="assets/buttons/button-end-turn.png">
          </div>
          <div *ngIf="twist && twist.id==='la-paix'" id="button-cancel" 
          class="button button-reveal custom-button animated-button" (click)="goCancel()">
            <img src="assets/buttons/button-cancel.png">
          </div>

          <div *ngIf="twist && twist.id==='democratie'" id="button-vote" 
          class="button button-reveal custom-button animated-button" (click)="goVote()">
            <img src="assets/buttons/button-vote.png">
          </div>
          <div *ngIf="twist && (twist.id==='inversion'|| twist.id==='remplacant' || twist.id==='gladiateurs' ) && !showReveal" id="button-newcard" class="button button-reveal custom-button animated-button" (click)="generateRandomDecision()">
            <img src="assets/buttons/button-newcard.png">
          </div>
        <div *ngIf="showReveal" id="button-reveal" class="button button-reveal custom-button animated-button" (click)="goReveal()">
          <img src="assets/buttons/button-reveal.png">
        </div>
      </div>
    </div>
  </div>
</ion-content>