.game-container {
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 0px;
    padding: 40px 10px 10px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 50px auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 300px;
        margin: auto;
        transform: rotate(-10deg);
        margin-bottom: -10px;
    }
    p{
        max-width: 280px;
        text-align: center;
        padding-top: 50px;
        font-size: 1.05em;
    }
}

.card.card-bye {
    background-color: black;
    p{
        color:white;
    }
}
.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skip-unavailable {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width: 100px;
    }

    p {
        margin: 0px;
        font-size: 0.9em;
        color: #000000;
        text-align: center;
    }
}

.actions-game {
    gap: 20px;
    display: flex;
    justify-content: center;

    .button {
        border-radius: 99px;
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
       .button-reveal {
        background-color: #41b9ff;
        img {
            max-height: 40px;
            height: auto;
            width: auto;
            margin-top: -5px;
        }
    }
}

img.title-duel {
    max-width: 400px;
    width: 100%;
}

div.twist-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    p.twist-reveal{
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
       
        padding: 5px 15px;
        border-radius: 5px;
    }
    p.twist-reveal-none{
        background: #000000;
        color: white;
    }
    p.twist-reveal-all{
        color: #000000;
        background: white;
    }
    
    img{
        max-width: 150px;
        z-index: 1;
    }
    .twist-emoji{
        position: absolute;
        z-index: 0;
        font-size: 70px;
        margin-top: 55px;
        margin-right: -180px;
        transform: rotate(-15deg);
    }
    .twist-title{
        font-family: FrankfurterNormal;
        z-index: 1;
        text-transform: uppercase;
        font-size: 30px;
        margin-top: -1px;
        color: white;
        -webkit-text-stroke: 1.5px #1f1f1f;
    }
    .twist-description{
        color:white;
        text-align: center;
        max-width: 350px;
        font-size: 18px;
    }
}