/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
  font-family: "FrankfurterNormal";
  src: url("assets/fonts/frankfurter-std-regular.otf") format("truetype");
}

@font-face {
  font-family: "FrankfurterMedium";
  src: url("assets/fonts/frankfurter-medium.ttf") format("truetype");
}

@font-face {
  font-family: "HammersmithOne";
  src: url("assets/fonts/hammersmith-one-Regular.ttf") format("truetype");
}

body{
  background: radial-gradient(circle at 0% 0%, #27d8ff, #006cb3);
}
body,p {
  font-family: "HammersmithOne", sans-serif;
}

h1,h2{
  font-family: "FrankfurterMedium", sans-serif;
}

ion-content {
  --background: radial-gradient(circle at 0% 0%, #27d8ff, #006cb3);
  height: 100%;
  color:black;
}

html.md{
  --ion-default-font: "HammersmithOne", sans-serif;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-group.two-buttons {
  .custom-button {
    width: 48%;
  }
}

.buttons-group.hide {
  opacity: 0;
  transform: scale(0.95);
}

.buttons-group {
  opacity: 1;
  display: flex;
  justify-content: center; /* Centre les boutons ensemble */
  gap: 15px; /* Ajoute un espace entre les boutons */
  transform: scale(1);
  padding: 0 30px;
  transition:
    opacity 0.6s ease-in-out,
    transform 0.6s ease-in-out;
    max-width: 98%;
    margin: auto;

  .custom-button {
    display: block;
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 20px;
    background-color: #41b9ff;
    color: #000000;
    text-align: center;
    border-radius: 48px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "FrankfurterMedium", sans-serif;
    cursor: pointer;
    font-size: 1.2em;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}


/*.custom-button {
  animation: pulse 6s infinite;
}
*/

.page-enter {
  animation: slideInRight 0.5s forwards;
}

.page-leave {
  animation: slideOutLeft 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.nav-back{
  
    max-width: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
img{
  transform:  scaleX(-1);
}

}

.custom-button.animated-button {
  transform: translateY(0) translateX(0);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-button.animated-button.active {
  transform: translateY(3px) translateX(3px);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.card {
  background-color: white;
  border-radius: 0px;
  padding: 40px 10px 10px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25);
  margin: 20px 40px 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
      max-width: 230px;
      margin: auto;
      transform: rotate(-10deg);
      margin-bottom: -10px;
  }
  p{
      max-width: 280px;
      text-align: center;
      padding-top: 30px;
      font-size: 14px;
  }
}

.card.card-bye {
  background-color: black;
  p{
      color:white;
  }
}

div.twist-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  p.twist-reveal{
      font-size: 14px;
      text-align: center;
      margin: 20px auto;
      padding: 5px 15px 5px 10px;
      border-radius: 5px;
  }
  p.twist-reveal-none{
      background: #000000;
      color: white;
  }
  p.twist-reveal-all{
      color: #000000;
      background: white;
  }
  
  img{
      max-width: 150px;
      z-index: 1;
  }
  .twist-emoji{
      position: absolute;
      z-index: 0;
      font-size: 70px;
      margin-top: 46px;
      margin-right: -180px;
      transform: rotate(-15deg);
  }
  .twist-title{
      font-family: FrankfurterNormal;
      z-index: 1;
      text-transform: uppercase;
      font-size: 30px;
      margin-top: -1px;
      color: white;
      -webkit-text-stroke: 1.5px #1f1f1f;
  }
  .twist-description{
      color:white;
      text-align: center;
      max-width: 350px;
      font-size: 16px;
      margin-top: 0;
  }

}

img.title-page-game {
  max-width: 300px;
  width: 100%;
  padding: 0 40px;
}
