<ion-content>
  <div class="container">
    <div class="content" style="display: initial;">
      <div class="logo">
        <img src="assets/img/logo-keep.png" class="logo-img logo-keep" alt="Keep">
        <img src="assets/img/logo-bye.png" class="logo-img logo-bye" alt="Bye">
        <img src="assets/img/logo-skip.png" class="logo-img logo-skip" alt="Skip">
      </div>

      <div class="buttons-group two-buttons hide">
        <div id="button-start" class="custom-button animated-button" (click)="startGame()">
          <img src="assets/buttons/button-start.png">
        </div>
        <div class="custom-button animated-button" (click)="showRules()">
          <img src="assets/buttons/button-rules.png">
        </div>
      </div>
    </div>
  </div>
</ion-content>