.game-container {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skip-unavailable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 25px;

    img{
        width: 100px;
    }

    p {
        margin: 0px;
        font-size: 0.9em;
        color: #000000;
        text-align: center;
    }
}

.actions-game {
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 10px 40px;

    .button {
        border-radius: 99px;
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button-skip {
        background-color: #ff3131;
        img {
            max-height: 40px;
            height: auto;
            width: auto;
            margin-top: 2px;
        }
    }
    .button-duel {
        background-color: #41b9ff;
        img {
            max-height: 40px;
            height: auto;
            width: auto;
        }
    }
}

img.title-ladecision {
    max-width: 300px;
    width: 100%;
    padding: 0 40px;
}
